/* Set rules */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/* Define CSS Variables*/
:root {
  --page-header-bgColor: #0072ce;
  --page-header-bgColor-hover: #ffffff;
  --page-header-txtColor: #dde9f8;
  --page-header-headingColor: #ffffff;
  --page-header-width: 200px;
  --page-content-bgColor: #f0f1f6;
  --page-content-txtColor: #171616;
  --page-content-blockColor: #fff;
  --white: #ffffff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 4px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
  --switch-bgLightModeColor: #87cefa;
  --switch-sunColor: gold;
  --switch-moonColor: #f4f4f4;
  --switch-bgDarkModeColor: #1f1f27;
}

/* Set generic styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
button {
  color: inherit;
  font-weight: bold;
}

button {
  background: none;
  cursor: pointer;
}

input {
  -webkit-appearance: block;
}

.switch [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

button {
  border: none;
}

div {
    display: block;
    padding: 10px;
  }

h5 {
  padding: 10px;
}

body {
  font: 16px/1.5 "Lato", sans-serif;
  width: auto;

}

i {
    width: 100%;
    height: 100%;
}

span {
  display: block;
  padding: 10px;
}

strong {
  color: var(--page-content-txtColor);
}

textarea {
  width: 100%;
}

#allposts-view{
  margin: 10px;
}

#profile-view{
  margin: 10px;
}

.post{
  border: solid 1px #ccc;
  margin: 10px;
}

.new_post{
  margin: 15px;
}

.post_block{
  border: solid 1px #ccc;
  margin: 10px;
}

.user_name{
  font-weight: bold;
  width: fit-content;
}

.user_name:hover {
  text-decoration: underline;
  box-shadow: 0 0 10px 2px rgb(209, 201, 201);
}

.date_time{
  color: gray;
}

.num_like{
  color: gray;
  display:inline-block;
  margin-right:10px;
  margin: 5px;
}

.save{
  font-weight: bold;
  width: fit-content;
  margin: 20px;
}

.save:hover {
  text-decoration: underline;
  box-shadow: 0 0 10px 2px rgb(209, 201, 201);
}

.cancel{
  font-weight: bold;
  width: fit-content;
  margin: 20px;
}

.cancel:hover {
  text-decoration: underline;
  box-shadow: 0 0 10px 2px rgb(209, 201, 201);
}

.heart {
  width: 20px;
  height: 20px;
  margin: 5px;
  display:inline-block;
} */

/* Icon Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Header styles */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  width: var(--page-header-width);
  color: var(--page-header-txtColor);
  background: var(--page-header-bgColor);
}

.page-header nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header .logo {
  display: block;
  margin: 0 15px;
}

.page-header .logo:hover {
  color: var(--page-header-txtColor);
}

.page-header .toggle-mob-menu {
  display: none;
  margin-left: 5px;
  padding: 4px;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
}

.page-header .toggle-mob-menu div {
  fill: var(--black);
  transition: transform 0.2s;
}

.page-header .admin-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 35px;
}

.page-header .admin-menu li:nth-last-child(2) {
  margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}

.page-header .admin-menu li > * {
  width: 100%;
  padding: 12px 15px;
}

.page-header .admin-menu .switcher {
  display: inline-block;
  width: auto;
}

.page-header .admin-menu .menu-heading h3 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  margin-top: 12px;
  color: var(--page-header-headingColor);
}

.page-header .admin-menu a,
.page-header .admin-menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.page-header .admin-menu a:hover,
.page-header .admin-menu a:focus,
.page-header .admin-menu button:hover,
.page-header .admin-menu button:focus {
  background: var(--page-header-bgColor-hover);
  color:var(--page-header-bgColor);
  outline: none;
}

/* Page and content styles */
.page-content {
  position: relative;
  left: var(--page-header-width);
  width: calc(100% - var(--page-header-width));
  min-height: 100vh;
  padding: 30px;
  color: var(--page-content-txtColor);
  background: var(--page-content-bgColor);
}

.page-content i {
  width: 100%;
  height: 100%;
  color: var(--page-content-txtColor);
}

.title-and-user {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 50px;
  align-items: center;
  background: var(--page-content-bgColor);
}

.title-and-user div {
  position: relative;
}

.title-and-user div {
    font-weight: bold;
    font-size:  larger;
  }

.title-and-user .admin-profile {
  display: flex;
  align-items: center;
}

.title-and-user .admin-profile .greeting {
  margin: 0 10px 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(min-content, max-content);
}

.grid > article {
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.charts {
  height: 300px;
}

.grid-group {
  display:grid;
  grid-template-columns: 1fr;
}

.grid-chart {
  height: 300px;
  display:grid;
  grid-template-columns: 1fr;
}

.grid-cell {
  display:grid;
  grid-template-columns: 1fr;
}

.trade-form-wrapper {
  display: absolute;
}

.trade-form {
  display: flex;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.formset {
  display: flex;
  flex-direction: column;
}

.form #button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#button-wrapper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.message {
  padding: 20px;
  background-color:#ff9800;
  color: white;
}

.message-success {
  padding: 20px;
  background-color:#4faf6f;
  color: white;
}

 .add_form {
   padding: 20px;
   margin: auto;
 }

#save-post {
  margin: auto;
}

#publish-post {
  margin: auto;
}

.page-content .grid > article:last-child {
    grid-column: 1 / -1;
}

.dropzone {
  border-style: dashed;
  border-radius: 5px;
  border-color:var(--page-content-blockColor);
  transition: 0.5s;
}

.dropzone:hover {
  background-color: var(--page-header-bgColor);
}

/* Media queries rules */
@media screen and (max-width: 992px) {
  .page-header,
  .page-content {
    position: static;
    width: 100%;
  }

  .page-header {
    padding: 10px;
  }

  .page-header nav {
    flex-direction: row;
  }

  .page-header .logo {
    margin: 0;
  }

  .page-header .toggle-mob-menu {
    display: block;
  }

  .page-header .admin-menu {
    position: absolute;
    left: 98px;
    top: 57px;
    margin-top: 0;
    z-index: 2;
    border-radius: var(--border-radius);
    background: var(--page-header-bgColor);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s;
  }

  .page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 12px;
  }

  .page-header .admin-menu li:last-child button,
  .title-and-user .admin-profile .greeting {
    display: none;
  }

  .page-content {
    min-height: 0;
    padding: 10px;
  }

  .page-content .grid {
    grid-gap: 10px;
    grid-template-columns: auto;
  }

  .title-and-user {
    position: absolute;
    left: 220px;
    top: 10px;
    padding: 0;
    grid-column-gap: 5px;
    width: calc(100% - 220px);
    border-radius: var(--border-radius);
    background: transparent;
  }

  .title-and-user div {
    fill: var(--white);
    color: var(--page-header-txtColor);
  }
}

@media screen and (max-width: 400px) {
  .page-content .grid > article {
    grid-column: 1 / -1;
  }
}


/* Body styles */
.mob-menu-opened .toggle-mob-menu div {
  transform: rotate(180deg);
}

.mob-menu-opened .page-header .admin-menu {
  transform: scale(0.9);
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsed .page-header {
    width: 40px;
  }

  .collapsed .page-header .admin-menu li > * {
    padding: 10px;
  }

  .collapsed .page-header .logo,
  .collapsed .page-header .admin-menu span,
  .collapsed .page-header .admin-menu div,
  .collapsed .page-header .admin-menu .menu-heading {
    display: none;
  }

  .collapsed .page-header .collapse-btn section {
    transform: rotate(180deg);
  }

  .collapsed .page-content {
    left: 40px;
    width: calc(100% - 40px);
  }
}


/* Switching night and day mode styles */
.switch label {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.switch span:first-child {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--switch-bgLightModeColor);
  transition: all 0.3s;
}

.switch span:first-child::before,
.switch span:first-child::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.switch span:first-child::before {
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  background: var(--white);
  z-index: 1;
  transition: transform 0.3s;
}

.switch span:first-child::after {
  top: 50%;
  right: 8px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  background: var(--switch-sunColor);
  box-shadow: 0 0 4px 2px #ffdb1a;
}

.switch [type="checkbox"]:checked + label span:first-child {
  background: var(--switch-bgDarkModeColor);
}

.switch [type="checkbox"]:focus + label span:first-child {
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.25);
}

.switch [type="checkbox"]:checked + label span:first-child::before {
  transform: translateX(24px);
}

.switch [type="checkbox"]:checked + label span:first-child::after {
  left: 12px;
  width: 15px;
  height: 15px;
  background: transparent;
  box-shadow: -2px -5px 0 var(--switch-moonColor);
  transform: translateY(-50%) rotate(-70deg);
}


/* Day mode styles */
.light-mode {
  --page-header-bgColor: #f1efec;
  --page-header-bgColor-hover: #b9e4e0;
  --page-header-txtColor: #2c303a;
  --page-header-headingColor: #979595;
  --page-content-bgColor: #fff;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.25);
}

.light-mode .page-header .admin-menu a:hover,
.light-mode .page-header .admin-menu a:focus,
.light-mode .page-header .admin-menu button:hover,
.light-mode .page-header .admin-menu button:focus {
  color: var(--black);
}

.light-mode .switch [type="checkbox"]:focus + label span:first-child {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 992px) {

  .light-mode .title-and-user div {
    fill: var(--black);
  }
}

/* Additional animation for alerting limit breaches */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}