{% extends "fund/main_page.html" %}
{% load static %}

{% block content %}
    <section class="grid">
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="hisTrend"></div>
            </div>
        </article>
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="assetComp"></div>
            </div>
        </article>
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="liqImpact"></div>
            </div>
        </article>
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="levImpact"></div>
            </div>
        </article>
        <article class="grid-group">
            <div class="grid-cell">
                <div class="trade-form-wrapper">
                    <div class="trade-form">Trade</div>
                            {% comment %} <tr>
                                <th>Transaction</th>
                                <th>Security</th>
                                <th>Amount</th>
                            </tr> {% endcomment %}
                        <form class="form" action="{% url 'scenarios' %}" method="POST">
                            {% csrf_token %}
                            {{formset_empty.management_form}}
                            
                            {% for form in formset_empty %}
                                <aside id="num_forms"> {{ forloop.counter }}</aside>
                                {{form}}
                                <hr>
                            {% endfor %}
                            <div class="button-wrapper">
                                <a id="add_form" href="#" class="btn btn-sm btn-info" name="Add">Add Trade</a>
                                <input type="submit" class="btn btn-sm btn-primary" name="Submit">
                            </div>
                        </form>
                </div>
            </div>
        </article>
        <article class="grid-group">
            <div class="grid-cell">
                <div class="effective-trades">
                    <div>Effective Trades</div>
                    {% comment %} <form action="{% url 'scenarios' %}" method="POST"> {% endcomment %}
                        {% comment %} {% csrf_token %} {% endcomment %}
                        {% comment %} {{formset.management_form}} {% endcomment %}
                        <table class="table table-sm">
                            <tr>
                                <th>Transaction</th>
                                <th>Security</th>
                                <th>Amount</th>
                                <th>
                                    <a href="{% url 'remove_all' %}" class="btn btn-sm btn-danger"><strong>Delete All</strong></a>
                                </th>
                            </tr>

                            {% for trade in extrade %}
                            <tr>
                                <td>{{trade.transaction}}</td>
                                <td>{{trade.security}}</td>
                                <td>{{trade.amount}}</td>
                                <td>
                                    <a href="{% url 'remove' trade.id %}" class="btn btn-sm btn-warning">Remove</a>
                                </td>
                            </tr>
                            {% endfor %}

			            </table> 
                            {% comment %} <hr> {% endcomment %}
                        {% comment %} {% endfor %} {% endcomment %}
				        {% comment %} <input type="submit" class="btn btn-sm btn-info" name="Submit"> {% endcomment %}
			        {% comment %} </form> {% endcomment %}
                </div>
            </div>
        </article>
        <article class="grid-chart">
        </article>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'fund/fund.js' %}"></script>
{% endblock %}