{% extends "fund/main_page.html" %}
{% load static %}

{% block content %}
<div id="scenarios-view">
    <section class="grid">
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="hisTrend"></div>
            </div>
        </article>
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="assetComp"></div>
            </div>
        </article>
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="liqImpact"></div>
            </div>
        </article>
        <article class="grid-chart">
            <div class="grid-cell">
                <div id="levImpact"></div>
            </div>
        </article>
        <article class="grid-group">
            <div class="grid-cell">
                <div class="trade-form-wrapper">
                    <div class="trade-form">Trades</div>
                            {% comment %} <tr>
                                <th>Transaction</th>
                                <th>Security</th>
                                <th>Amount</th>
                            </tr> {% endcomment %}
                        <form id="form" class="form" action="{% url 'scenarios' %}" method="POST">
                            {% csrf_token %}
                            {{formset_empty.management_form}}
                            
                            {% for form in formset_empty %}
                                <div class="formset">
                                    <aside id="num_forms"> {{ forloop.counter }}</aside>
                                    {{form}}
                                </div>
                                <hr>
                            {% endfor %}
                            <div id="button-wrapper">
                                <a id="add_form" href="#" class="btn btn-sm btn-info" name="Add">Add A Trade Slot</a>
                                <input id="submit-form" type="submit" class="btn btn-sm btn-primary" name="Submit">
                            </div>
                        </form>
                </div>
            </div>
        </article>
        <article class="grid-group">
            <div class="grid-cell">
                <div class="effective-trades">
                    <div id="button-wrapper-header">
                        <div>Effective Trades</div>
                        <a id="save-post" href="#" class="btn btn-sm btn-success" name="save-post">Save Scenario</a>
                        <a hidden id="publish-post" href="#" class="btn btn-sm btn-primary" name="publish-post">{{ post.publish }}</a>
                    </div>
                    <table class="table table-sm">
                        <tr>
                            <th>Transaction</th>
                            <th>Security</th>
                            <th>Amount</th>
                            <th>
                                <a id="delete-all-button" href="{% url 'remove_all' %}" class="btn btn-sm btn-danger"><strong>Delete All</strong></a>
                            </th>
                        </tr>

                        {% for trade in extrade %}
                        <tr>
                            <td>{{trade.transaction}}</td>
                            <td>{{trade.security}}</td>
                            <td>{{trade.amount}}</td>
                            <td>
                                <a id="remove-button" href="{% url 'remove' trade.id %}" class="btn btn-sm btn-warning">Delete</a>
                            </td>
                            <td class="extrades" hidden>{{trade.id}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <textarea id="scenario_content" placeholder="Enter description for the scenario">{{ post.content }}</textarea>
                        {% comment %} <hr> {% endcomment %}
                    {% comment %} {% endfor %} {% endcomment %}
                    {% comment %} <input type="submit" class="btn btn-sm btn-info" name="Submit"> {% endcomment %}
                {% comment %} </form> {% endcomment %}
                </div>
            </div>
        </article>
        <article class="grid-chart">
        </article>
    </section>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'fund/fund.js' %}"></script>
{% endblock %}